.content {
    background-color: white;
    color: white;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: max-content;
    min-height: 100%;
    margin: 0;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
}




