<style>
  .content {
    background-color: black;
    color: green;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: max-content;
    min-height: 100%;
    margin: 0;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  ul {
  list-style-type: none;
  }

</style>
<div class="content">
  <h1>Current block hash</h1>
<div style="font-size: 30px; font-weight: 900; color: blue;">
  {{ 
    block
  }}
</div> 
<br>
<br>


<h3>Generate single new block</h3>
<button class="btn-primary" (click)="generateBlock(block)" [disabled]="hashingTimer">Generate Block</button>
<br>
<br>
{{ hashingTimer }}
<br>
<br>

<h3>Generate new transaction</h3>
<form #form="ngForm" style="text-align: center;" (ngSubmit)="onSubmit(form.value)">
  <input
    required
    name="hashValue"
    placeholder="Enter a transaction"
    [(ngModel)]="hash"/>
  <br>
  <br>
  <button type="Submit" [disabled]="!form.valid">Submit</button>
  <br>
</form>
<br>
<br>

<h3>List of blocks ({{ blockchain.length }}) in the chain</h3>
<ul>
  <li *ngFor="let block of blockchain">{{ block.getBlockHash() }}</li>
</ul>
<br>
<br>

<h3>Full list of transactions</h3>
<ul>
  <li *ngFor="let block of blockchain">{{ block.getTransactions() }}</li>
</ul>