<style>
  .content {
    background-color: black;
    color: green;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: max-content;
    min-height: 100%;
    margin: 0;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  ul {
  list-style-type: none;
  }

  section {
    margin: 30px 0;
    padding: 5px 0;
    background-color: beige;
    border-radius: 1%;
  }

  .sidebar {

    padding: 0 10px;

  }


</style>

<div class="content">
  <mat-sidenav-container class="example-container">
    <mat-sidenav class="sidebar" mode="side" opened>
  <h2><a href="/">Dashboard</a></h2>

    </mat-sidenav>
    <mat-sidenav-content>
      <section>

      
  <h1>Current block hash</h1>


<div style="font-size: 30px; font-weight: 900; color: blue;">
  {{ 
    block
  }}
</div> 
<br>
<br>
</section>

<section>


  <h3>Generate single new block</h3>
<button mat-button (click)="generateBlock(block)" [disabled]="hashingTimer ? true : false">Generate Block</button>
<br>
<br>
{{ hashingTimer ? hashingTimer : ''}}
<br *ngIf="hashingTimer">
<br *ngIf="hashingTimer">

</section>

<section>

  <h3>Generate new transaction</h3>

<form #form="ngForm" style="text-align: center;" (ngSubmit)="onSubmit(form.value)">

  <mat-form-field class="example-form-field" appearance="fill">
    <input matInput type="text" style="background-color: white;" [(ngModel)]="hash">
    <button *ngIf="hash" matSuffix mat-icon-button aria-label="Clear" (click)="hash=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
    
  <br>
  <br>
  <button mat-button [disabled]="!form.valid">Submit</button>
  <br>
</form>
<br>
<br>
</section>


<section>


  <h3>List of blocks ({{ blockchain.length }}) in the chain</h3>
<ul>
  <li *ngFor="let block of blockchain">{{ block.getBlockHash() }}</li>
</ul>
<br>
<br>
</section>


<section>

  <h3>Full list of transactions</h3>
<ul>
  <li *ngFor="let block of blockchain">{{ block.getTransactions() }}</li>
</ul>

</section>

</mat-sidenav-content>
</mat-sidenav-container>