<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <app-wrapper>
      <h3>Status</h3>
      <h2 [style.color]="'gray'">
        {{ hashingTimer ? hashingTimer : '/'}}
      </h2>
    </app-wrapper>
</mat-grid-tile>
  <mat-grid-tile>
    <app-wrapper>
        <h3>Auto-generate blocks</h3>
      <button 
        mat-raised-button 
        [color]="autoHashing ? 'warn' : 'primary'" 
        [disabled]="hashingTimer && !autoHashing ? true : false"
        (click)="autoGenerate(block)">
        {{autoHashing ? 'Stop generating blocks' : 'Auto-generate blocks'}}
      </button>
    </app-wrapper>
</mat-grid-tile>
    <mat-grid-tile>
        <app-wrapper>
            <h3>Generate single new block</h3>
          <button 
            mat-raised-button 
            color="primary" 
            (click)="generateBlock(block)" 
            [disabled]="hashingTimer || autoHashing ? true : false"
            >Generate block
          </button>        
        </app-wrapper>

    </mat-grid-tile>
    <mat-grid-tile>
        <app-wrapper>        
        
            <mat-form-field appearance="fill">
              <input 
                matInput 
                type="text" 
                [(ngModel)]="hash" 
                [ngModelOptions]="{standalone: true}"
                placeholder="Generate new transaction"
                >
              <button 
              *ngIf="hash"
              matSuffix 
              mat-raised-button 
              mat-icon-button 
              aria-label="Clear" 
              (click)="hash=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
        
            <br>
            <button 
              mat-raised-button 
              color='primary'
              (click)='onSubmit()'
              [disabled]="
                ((hashingTimer || autoHashing) ? true : false) 
                || !hash
                ">
              Submit
            </button>
        </app-wrapper>
    </mat-grid-tile>
  </mat-grid-list>



