<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <app-wrapper >
      <div [style.color]="(status.hashingTimer || status.autoHashing) ? 'green' : status.hash ? 'orange' : 'gray'">
        <h3>Status <small>({{ blockchainstore.blockchain.length }})</small></h3>
        <h2>
          {{ status.hashingTimer ? status.hashingTimer : '/'}}
        </h2>
      </div>
      
    </app-wrapper>
</mat-grid-tile>
  <mat-grid-tile>
    <app-wrapper>
        <h3>Auto-generate blocks</h3>
      <button 
        mat-raised-button 
        [color]="status.autoHashing ? 'warn' : 'primary'" 
        [disabled]="(status.hashingTimer && !status.autoHashing) || status.hash ? true : false"
        (click)="autoGenerate(block)">
        {{status.autoHashing ? 'Stop generating blocks' : 'Auto-generate blocks'}}
      </button>
    </app-wrapper>
</mat-grid-tile>
    <mat-grid-tile>
        <app-wrapper>
            <h3>Generate single new block</h3>
          <button
            mat-raised-button
            color="primary"
            (click)="generateBlock(block)"
            [disabled]="status.hashingTimer || status.autoHashing || status.hash ? true : false"
            >Generate block
          </button>
        </app-wrapper>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-wrapper>
            <mat-form-field appearance="fill">
              <input 
                matInput 
                type="text" 
                [(ngModel)]="status.hash" 
                [ngModelOptions]="{standalone: true}"
                placeholder="Generate new transaction"
                >
              <button 
              *ngIf="status.hash"
              matSuffix 
              mat-raised-button 
              mat-icon-button 
              aria-label="Clear" 
              (click)="updateHashingStatus('hash', '')">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
        
            <br>
            <button 
              mat-raised-button 
              color='primary'
              (click)='onSubmit()'
              [disabled]="
                ((status.hashingTimer || status.autoHashing) ? true : false) 
                || !status.hash
                ">
              Submit
            </button>
        </app-wrapper>
    </mat-grid-tile>
  </mat-grid-list>



