<app-wrapper>
    <h3>Current block hash</h3>

  <div style="font-size: 20px; font-weight: 900; font-weight: bold">
    {{
      block
    }}
  </div>
  <br>
  <br>

  </app-wrapper>
  <app-wrapper>


    <h3>Generate single new block</h3>
  <button mat-stroked-button color="primary" (click)="generateBlock(block)" [disabled]="hashingTimer ? true : false">Generate Block</button>
  <br>
  <br>
  {{ hashingTimer ? hashingTimer : ''}}
  <br *ngIf="hashingTimer">
  <br *ngIf="hashingTimer">

  </app-wrapper>

  <app-wrapper>

    <h3>Generate new transaction</h3>

  <form #form="ngForm" style="text-align: center;" (ngSubmit)="onSubmit(form.value)">

    <mat-form-field class="example-form-field" appearance="fill">
      <input matInput type="text" [(ngModel)]="hash">
      <button *ngIf="hash" matSuffix mat-stroked-button mat-icon-button aria-label="Clear" (click)="hash=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <br>
    <br>
    <button mat-stroked-button [disabled]="hashingTimer ? true : false && !form.valid">Submit</button>
    <br>
  </form>
  <br>
  <br>
  </app-wrapper>


  <app-wrapper>


    <h3>List of blocks ({{ blockchain.length }}) in the chain</h3>
  <ul>
    <li *ngFor="let block of blockchain">{{ block.getBlockHash() }}</li>
  </ul>
  <br>
  <br>
  </app-wrapper>


  <app-wrapper>

    <h3>Full list of transactions</h3>
  <ul>
    <li *ngFor="let block of blockchain">{{ block.getTransactions() }}</li>
  </ul>

  </app-wrapper>
